{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongゲーム</title>
    <link rel="stylesheet" href="{% static 'css/Authorized//match-game.css' %}">
    <script>
        window.roomName = "{{ room_name }}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{% static 'js/Authorized/match-game.js' %}"></script>
</head>
<body>
    <div id="gameContainer">
        <div id="countdown">3</div>
        <div id="message" class="hidden"></div>
        <div id="score-container">
            <div id="score-player1" class="score-box">
                <span class="player-label">Player 1</span>
                <span class="player-score">0</span>
            </div>
            <div id="score-player2" class="score-box">
                <span class="player-label">Player 2</span>
                <span class="player-score">0</span>
            </div>
        </div>
        <canvas id="gameCanvas"></canvas>
    </div>
</body>
</html>