Django
djangorestframework
djangorestframework-simplejwt
django-extensions
gunicorn
psycopg2
python-dotenv
djangorestframework-simplejwt
django-otp 
qrcode
pyotp
Pillow
channels
channels_redis
daphne
django-ipware