{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA Setup</title>
    <link rel="stylesheet" href="{% static 'css/Unauthorized/qr.css' %}">
</head>
<body>
    <div class="container">
        <h2>Scan this QR Code</h2>

        <p id="userid">User ID: 読み込み中...</p>
        <p>Scan this QR code to enable 2FA:</p>
        <img id="qrImage" alt="QR Code" src="" style="width: 200px; height: 200px;">  <!-- JS で QRコードを表示 -->

        <p>Use Google Authenticator or Authy to scan this QR code.</p>
        <button id="qr-ok-btn" class="btn btn-primary">OK</button>
    </div>

    <script src="{% static 'js/Unauthorized/qr.js' %}"></script>
</body>
</html>
